    .DraftEditor-editorContainer{
          height: 270px;
        padding-bottom: 10px;
        overflow-y: scroll;
    }

    .draftJsToolbar__buttonWrapper__1Dmqh{
         display: inline;
         position: relative;
         top: 10px
    }

    .draftJsToolbar__button__qi1gf{
         background-color: #fff;
         border: 1px solid grey;
         padding: 10px;
    }